/* screen - marketplace-sangse */

.marketplace-sangse {
  align-items: center;
  background-color: var(--white);
  border: 1px none;
  display: flex;
  flex-direction: column;
  height: 1829px;
  width: 1920px;
}

.marketplace-sangse .view-1 {
  -webkit-backdrop-filter: blur(24px) brightness(100%);
  align-items: center;
  backdrop-filter: blur(24px) brightness(100%);
  background-color: var(--white-3);
  display: flex;
  height: 80px;
  left: 0;
  padding: 0 72px;
  position: fixed;
  top: 0;
  width: 1920px;
  z-index: 3;
}

.marketplace-sangse .logo-1 {
  height: 26px;
  min-width: 166px;
  object-fit: cover;
}

.marketplace-sangse .view-2 {
  align-items: flex-start;
  display: flex;
  gap: 8px;
  margin-left: 428px;
  width: fit-content;
}

.marketplace-sangse .button {
  align-items: flex-start;
  display: flex;
  gap: 10px;
  padding: 14px 16px;
  width: fit-content;
}

.marketplace-sangse .marketplace {
  letter-spacing: -0.20px;
  line-height: normal;
  margin-top: -1.00px;
  text-align: center;
  text-decoration: underline;
  width: fit-content;
}

.marketplace-sangse .sign-in {
  letter-spacing: -0.20px;
  line-height: normal;
  margin-bottom: 2.0px;
  margin-left: 539px;
  min-height: 20px;
  min-width: 66px;
  text-align: center;
}

.marketplace-sangse .flex-row-1 {
  align-items: flex-end;
  display: flex;
  gap: 144px;
  height: 798px;
  margin-right: 21.0px;
  margin-top: 124px;
  min-width: 1499px;
  z-index: 1;
}

.marketplace-sangse .flex-col {
  flex-direction: column;
  gap: 130px;
  min-height: 798px;
  width: 624px;
}

.marketplace-sangse .image {
  background-color: var(--grey1);
  border-radius: 8px;
  height: 624px;
  width: 624px;
}

.marketplace-sangse .flex-row-2 {
  align-items: center;
  display: flex;
  gap: 57px;
  height: 44px;
  min-width: 496px;
}

.marketplace-sangse .item-activity {
  letter-spacing: -0.36px;
  line-height: normal;
  margin-bottom: 1.0px;
  min-height: 37px;
  min-width: 199px;
}

.marketplace-sangse .view-3 {
  align-items: flex-start;
  border: 0.5px solid;
  border-color: var(--dark-grey);
  border-radius: 32px;
  display: flex;
  gap: 136px;
  padding: 12px 20px;
  width: 240px;
}

.marketplace-sangse .icon_-search {
  height: 20px;
  min-width: 20px;
}

.marketplace-sangse .flex-col-1 {
  align-items: flex-start;
  min-height: 778px;
  width: 731px;
}

.marketplace-sangse .flex-row-3 {
  align-items: flex-start;
  display: flex;
  gap: 4px;
  height: 26px;
  min-width: 112px;
}

.marketplace-sangse .label {
  align-items: flex-start;
  border: 0.5px solid;
  border-color: var(--dark-grey);
  display: flex;
  gap: 10px;
  padding: 6px 8px;
  width: fit-content;
}

.marketplace-sangse .lable {
  letter-spacing: -0.14px;
  line-height: normal;
  margin-top: -0.50px;
  width: fit-content;
}

.marketplace-sangse .rate {
  align-items: center;
  border: 0.5px solid;
  border-color: var(--dark-grey);
  display: flex;
  gap: 2px;
  padding: 6px 8px;
  width: fit-content;
}

.marketplace-sangse .icon_star {
  height: 12px;
  min-width: 12px;
  position: relative;
}

.marketplace-sangse .text-25 {
  letter-spacing: -0.14px;
  line-height: normal;
  margin-top: -0.50px;
  width: fit-content;
}

.marketplace-sangse .title {
  letter-spacing: -0.44px;
  line-height: normal;
  margin-top: 19px;
  min-height: 45px;
}

.marketplace-sangse .x10000000-usd {
  letter-spacing: -0.44px;
  line-height: normal;
  margin-top: 214px;
  min-height: 45px;
}

.marketplace-sangse .button-container {
  align-items: flex-start;
  display: flex;
  gap: 16px;
  height: 56px;
  margin-top: 37px;
  min-width: 581px;
}

.marketplace-sangse .button-2 {
  align-items: center;
  background-color: var(--dark-grey);
  border: 1px solid;
  border-radius: 32px;
  display: flex;
  gap: 10px;
  justify-content: center;
  padding: 16px;
  width: 283px;
}

.marketplace-sangse .buy-it {
  letter-spacing: -0.24px;
  line-height: normal;
  margin-top: -1.00px;
  text-align: center;
  width: fit-content;
}

.marketplace-sangse .button-3 {
  align-items: center;
  border: 1px solid;
  border-color: var(--dark-grey);
  border-radius: 32px;
  display: flex;
  gap: 10px;
  justify-content: center;
  padding: 16px;
  width: 282px;
}

.marketplace-sangse .vault-it {
  letter-spacing: -0.24px;
  line-height: normal;
  margin-top: -1.00px;
  text-align: center;
  width: fit-content;
}

.marketplace-sangse .icon_-search-1 {
  align-self: flex-end;
  height: 44px;
  margin-top: 152px;
  width: 44px;
}

.marketplace-sangse .flex-col-2 {
  align-items: center;
  margin-top: 35px;
  min-height: 872px;
  width: 1920px;
  z-index: 2;
}

.marketplace-sangse .line-1-1 {
  height: 1px;
  margin-right: 21.0px;
  object-fit: cover;
  width: 1499px;
}

.marketplace-sangse .activity {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 59.0px;
  margin-top: 12px;
  min-height: 444px;
  width: 1579px;
}

.marketplace-sangse .flex-col-3 {
  align-items: flex-start;
  gap: 16px;
  min-height: 392px;
  width: 1499px;
}

.marketplace-sangse .flex-col-4 {
  align-items: flex-start;
  gap: 16px;
  min-height: 340px;
  width: 1499px;
}

.marketplace-sangse .flex-col-5 {
  align-items: flex-start;
  min-height: 288px;
  width: 1499px;
}

.marketplace-sangse .flex-row-4 {
  align-items: flex-start;
  display: flex;
  height: 20px;
  margin-left: 20px;
  min-width: 1165px;
}

.marketplace-sangse .surname {
  letter-spacing: -0.16px;
  line-height: normal;
  margin-left: 196px;
  min-height: 16px;
  min-width: 36px;
}

.marketplace-sangse .place-2 {
  letter-spacing: -0.16px;
  line-height: normal;
  margin-left: 348px;
  min-height: 16px;
  min-width: 38px;
}

.marketplace-sangse .to {
  align-self: flex-end;
  letter-spacing: -0.16px;
  line-height: normal;
  margin-left: 218px;
  min-height: 16px;
  min-width: 17px;
}

.marketplace-sangse .place-3 {
  align-self: flex-end;
  letter-spacing: -0.16px;
  line-height: normal;
  margin-left: 239px;
  min-height: 16px;
  min-width: 33px;
}

.marketplace-sangse .line-3 {
  margin-top: 8px;
}

.marketplace-sangse .flex-row-5 {
  align-items: flex-start;
  display: flex;
  height: 20px;
  margin-left: 20px;
  margin-top: 16px;
  min-width: 1256px;
}

.marketplace-sangse .place {
  letter-spacing: -0.20px;
  line-height: normal;
  min-height: 20px;
  min-width: 40px;
}

.marketplace-sangse .x1000000-usd {
  letter-spacing: -0.20px;
  line-height: normal;
  margin-left: 196px;
  min-height: 20px;
  min-width: 132px;
}

.marketplace-sangse .cyniubi {
  letter-spacing: -0.20px;
  line-height: normal;
  margin-left: 189px;
  min-height: 20px;
  min-width: 67px;
  text-decoration: underline;
}

.marketplace-sangse .address {
  letter-spacing: -0.20px;
  line-height: normal;
  margin-left: 189px;
  min-height: 20px;
}

.marketplace-sangse .line {
  height: 1px;
  margin-top: 16px;
  width: 1499px;
}

.marketplace-sangse .flex-row-6 {
  align-items: flex-start;
  display: flex;
  height: 20px;
  margin-left: 20px;
  margin-top: 16px;
  min-width: 1236px;
}

.marketplace-sangse .x1000000-usd-1 {
  margin-left: 202px;
}

.marketplace-sangse .address-1 {
  margin-left: 445px;
}

.marketplace-sangse .flex-row {
  height: 20px;
  margin-left: 20px;
  margin-top: 16px;
  min-width: 1214px;
}

.marketplace-sangse .x3-b273-e {
  letter-spacing: -0.20px;
  line-height: normal;
  margin-left: 543px;
  min-height: 20px;
  min-width: 67px;
  text-decoration: underline;
}

.marketplace-sangse .flex-row-7 {
  align-items: flex-start;
  display: flex;
  height: 20px;
  margin-left: 20px;
  margin-top: 16px;
  min-width: 1228px;
}

.marketplace-sangse .flex-row-8 {
  align-items: flex-start;
  display: flex;
  height: 20px;
  margin-left: 20px;
  min-width: 1228px;
}

.marketplace-sangse .flex-row-9 {
  align-items: flex-start;
  display: flex;
  height: 20px;
  margin-left: 20px;
  min-width: 1236px;
}

.marketplace-sangse .flex-row-10 {
  align-items: flex-start;
  display: flex;
  height: 20px;
  margin-left: 20px;
  margin-top: 16px;
  min-width: 1234px;
}

.marketplace-sangse .x1000000-usd-2 {
  margin-left: 172px;
}

.marketplace-sangse .null-address {
  letter-spacing: -0.20px;
  line-height: normal;
  margin-left: 252px;
  min-height: 20px;
  min-width: 107px;
  text-decoration: underline;
}

.marketplace-sangse .lasercat397 {
  letter-spacing: -0.20px;
  line-height: normal;
  margin-left: 149px;
  min-height: 20px;
  min-width: 103px;
  text-decoration: underline;
}

.marketplace-sangse .address-2 {
  margin-left: 153px;
}

.marketplace-sangse .line-10 {
  margin-top: 15px;
  object-fit: cover;
}

.marketplace-sangse .view-4 {
  height: 261px;
  margin-top: 154px;
  position: relative;
  width: 1920px;
}

.marketplace-sangse .flex-row-11 {
  align-items: flex-start;
  display: flex;
  height: 133px;
  left: 968px;
  min-width: 772px;
  position: absolute;
  top: 46px;
}

.marketplace-sangse .flex-col-6 {
  align-items: flex-start;
  gap: 21px;
  min-height: 101px;
  width: 95px;
}

.marketplace-sangse .button-1 {
  align-items: flex-start;
  display: flex;
  gap: 10px;
  padding: 6px 0px;
  width: fit-content;
}

.marketplace-sangse .flex-col-7 {
  align-items: flex-start;
  gap: 21px;
  margin-left: 204px;
  min-height: 133px;
  width: 108px;
}

.marketplace-sangse .flex-col-8 {
  align-items: flex-start;
  gap: 21px;
  margin-left: 191px;
  min-height: 133px;
  width: 174px;
}

.marketplace-sangse .address-3 {
  letter-spacing: -0.20px;
  line-height: normal;
  min-height: 20px;
}

.marketplace-sangse .cyniubi-3 {
  letter-spacing: -0.20px;
  line-height: normal;
  margin-left: 252px;
  min-height: 20px;
  min-width: 67px;
  text-decoration: underline;
}

.marketplace-sangse .flex-col-9 {
  display: flex;
  flex-direction: column;
}

.marketplace-sangse .line-2 {
  height: 1px;
  width: 1499px;
}

.marketplace-sangse .x3-b273-e-4 {
  letter-spacing: -0.20px;
  line-height: normal;
  margin-left: 252px;
  min-height: 20px;
  min-width: 67px;
  text-decoration: underline;
}
