/* screen - ship5 */

.ship5 {
  align-items: center;
  background-color: var(--white);
  border: 1px none;
  display: flex;
  flex-direction: column;
  height: 1332px;
  width: 1920px;
}

.ship5 .view-1 {
  -webkit-backdrop-filter: blur(36px) brightness(100%);
  align-items: center;
  backdrop-filter: blur(36px) brightness(100%);
  background-color: var(--white-2);
  display: flex;
  height: 72px;
  left: 0;
  padding: 0 72px;
  position: fixed;
  top: 0;
  width: 1920px;
  z-index: 3;
}

.ship5 .logo-1 {
  height: 26px;
  min-width: 166px;
  object-fit: cover;
}

.ship5 .view-2 {
  align-items: flex-start;
  display: flex;
  gap: 8px;
  margin-left: 520px;
  width: fit-content;
}

.ship5 .button {
  align-items: flex-start;
  display: flex;
  gap: 10px;
  padding: 14px 16px;
  width: fit-content;
}

.ship5 .sign-in {
  letter-spacing: -0.20px;
  line-height: normal;
  margin-bottom: 2.0px;
  margin-left: 630px;
  min-height: 20px;
  min-width: 66px;
  text-align: center;
}

.ship5 .frame-20 {
  align-items: flex-start;
  display: flex;
  gap: 144px;
  height: 786px;
  margin-top: 128px;
  min-width: 1520px;
  z-index: 2;
}

.ship5 .flex-col {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 49px;
  margin-top: -1px;
  min-height: 629px;
  width: 496px;
}

.ship5 .title {
  letter-spacing: -0.82px;
  line-height: normal;
  min-height: 84px;
}

.ship5 .image {
  height: 496px;
  object-fit: cover;
  width: 496px;
}

.ship5 .flex-col-1 {
  align-self: center;
  margin-top: 86.0px;
  min-height: 610px;
  width: 880px;
}

.ship5 .x42-eth {
  letter-spacing: -0.44px;
  line-height: normal;
  margin-top: 20px;
  min-height: 45px;
}

.ship5 .line-1 {
  margin-top: 122px;
  object-fit: cover;
}

.ship5 .flex-row {
  align-items: center;
  display: flex;
  gap: 36px;
  height: 45px;
  margin-top: 23px;
  min-width: 189px;
}

.ship5 .ellipse-26 {
  border: 0.75px solid;
  border-color: var(--dark-grey);
  border-radius: 16px;
  cursor: pointer;
  height: 32px;
  left: 0;
  position: absolute;
  top: 0;
  width: 32px;
}

.ship5 .ellipse-29 {
  background-color: var(--dark-grey);
  border-radius: 9px;
  height: 18px;
  left: 7px;
  position: absolute;
  top: 7px;
  width: 18px;
}

.ship5 .line-3 {
  margin-top: 20px;
}

.ship5 .flex-row-1 {
  align-items: center;
  display: flex;
  gap: 36px;
  height: 45px;
  margin-top: 22px;
  min-width: 201px;
}

.ship5 .ellipse-27 {
  border: 0.75px solid;
  border-color: var(--dark-grey);
  border-radius: 16px;
  cursor: pointer;
  height: 32px;
  margin-bottom: 3.0px;
  width: 32px;
}

.ship5 .vault-it {
  letter-spacing: -0.44px;
  line-height: normal;
  min-height: 45px;
  min-width: 133px;
}

.ship5 .button-2 {
  align-items: center;
  align-self: flex-end;
  border: 1px solid;
  border-color: var(--dark-grey);
  border-radius: 32px;
  cursor: pointer;
  display: flex;
  gap: 304px;
  height: 60px;
  margin-top: 53px;
  opacity: 0.2;
  padding: 16px 32px;
  width: 501px;
}

.ship5 .next {
  height: 32px;
  margin-bottom: -2.00px;
  margin-right: -12.00px;
  margin-top: -2.00px;
  min-width: 32px;
  position: relative;
}

.ship5 .rectangle-4 {
  height: 19px;
  left: 15px;
  position: absolute;
  top: 7px;
  width: 10px;
}

.ship5 .view-3 {
  height: 261px;
  margin-top: 157px;
  position: relative;
  width: 1920px;
  z-index: 1;
}

.ship5 .flex-row-2 {
  align-items: flex-start;
  display: flex;
  height: 133px;
  left: 968px;
  min-width: 772px;
  position: absolute;
  top: 46px;
}

.ship5 .flex-col-2 {
  gap: 21px;
  min-height: 101px;
  width: 95px;
}

.ship5 .button-1 {
  align-items: flex-start;
  display: flex;
  gap: 10px;
  padding: 6px 0px;
  width: fit-content;
}

.ship5 .place {
  letter-spacing: -0.20px;
  line-height: normal;
  margin-top: -1.00px;
  text-align: center;
  width: fit-content;
}

.ship5 .flex-col-3 {
  gap: 21px;
  margin-left: 204px;
  min-height: 133px;
  width: 108px;
}

.ship5 .flex-col-4 {
  gap: 21px;
  margin-left: 191px;
  min-height: 133px;
  width: 174px;
}

.ship5 .flex-col-5 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
}

.ship5 .line {
  height: 1px;
  width: 880px;
}
